.player{
    border-radius: 20px;
    background: var(--yel);
    width: 149vh;
}

.hidePlayer{
    display: none;
}

.WhatPlayerBtns{
    padding-top: 1px;
    margin: 0 -3%;
}

.playersNums{
    display: flex;
    gap: 20px;

}

.whatPlayerButton{
    color: var(--yel);
    background: black;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 30px;
    border: 1px solid #b98c00;
    margin: 0 0;
}

.whatPlayer{
    list-style: none;
}

.PlayerVideo{
    width: 145vh;
    /*height: 450px;*/
    height: 75vh;
    border-radius: 20px;
    margin: 0 10px 10px 10px;
}

.PlayerError{
    color: black;
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
}

.css-18lrjg1-MuiCircularProgress-root{
    color: var(--yel) !important;
}

.LoadPlayer{
    text-align: center;
    padding: 50px 0;
}

@media (max-width: 517px) {

    .player {
        width: 130%;
        height: 300px;
    }

    .PlayerVideo{
        width: 93%;
        height: 20vh;
        padding: 0 0;
        /*height: 0%;*/
        /*height: 225px;*/
    }

    .playersNums{
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}